{% extends 'base.html' %}

{% block title %}
DailyStock - Charts
{% endblock %}

{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Charts</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
        	{% block candle %}
            <div class="col-xs-2" style="width: 100%; margin-bottom: 25px">
                <form method="post" style="width: 100%" >
                    {% csrf_token %}
                    {{ ticker_date_form }}
                    <button class="btn btn-primary" type="submit" style="margin-right:10px; margin-top:10px; margin-bottom:10px">Show</button>
                </form>
                <div id="error" style="margin-top: 10px">{{error}}</div>
            </div>
        	</br>
        	<div class="container">
        	</div>
            {% endblock candle %}
            <div class="panel panel-default">
                <div class="panel-heading">
                	<i class="fas fa-chart-line"></i> CandleStick Chart
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                	{% if request.session.chplot == None %}
                   	<img src="https://via.placeholder.com/1920x1080?text=CandleStick Chart" style="max-width: 100%">
                   	{% else %}
                   	{{request.session.chplot | safe}}
                   	{% endif %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fas fa-chart-line"></i> Close Price Chart
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% if request.session.plotclose == None %} 
                   	<img src="https://via.placeholder.com/1920x1080?text=Close Price Chart" style="max-width: 100%">
                   	{% else %}
                   	{{request.session.plotclose | safe}}
                   	{% endif %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="far fa-chart-bar"></i> Volume Bar Chart
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                	{% if request.session.plotvolume == None %} 
                   	<img src="https://via.placeholder.com/1920x1080?text=Volume Bar Chart" style="max-width: 100%">
                   	{% else %}
                   	{{request.session.plotvolume | safe}}
                   	{% endif %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->
</div>
{% endblock body %}

{% block source %}
    <!-- CandleStick -->
	<link rel="stylesheet" href={{request.session.chplotcss}} type="text/css">
	<script type="text/javascript" src={{request.chsession.plotjs}}></script>
	{{request.session.chplotscript | safe}}

    <!-- Close price -->
	<link rel="stylesheet" href={{request.session.plotcssclose}} type="text/css">
	<script type="text/javascript" src={{request.session.plotjsclose}}></script>
	{{request.session.plotscriptclose | safe}}

    <!-- Volume price -->
	<link rel="stylesheet" href={{request.session.plotcssvolume}} type="text/css">
	<script type="text/javascript" src={{request.session.plotjsvolume}}></script>
	{{request.session.plotscriptvolume | safe}}
{% endblock %}

{% block user %}
	{{user}}	
{% endblock user %}