{% extends 'base.html' %}
{% load staticfiles %}
{% block user %}
    {{user}}    
{% endblock user %}

{% block body %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary" style="padding-bottom: 1px">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            {% if dia_close > dia_prev_close %} 
                            <i class="fas fa-arrow-up fa-4x"></i>
                            {% else %}
                            <i class="fas fa-arrow-down fa-4x"></i>
                            {% endif %}
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dia_close}}</div>
                            <div>
                                {% if dia_percentage > 0 %} 
                                +{{dia_percentage}}%
                                {% else %}
                                {{dia_percentage}}%
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        {{dia_name}}
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green" style="padding-bottom: 1px">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            {% if spy_close > spy_prev_close %} 
                            <i class="fas fa-arrow-up fa-4x"></i>
                            {% else %}
                            <i class="fas fa-arrow-down fa-4x"></i>
                            {% endif %}
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{spy_close}}</div>
                            <div>
                                {% if spy_percentage > 0 %} 
                                +{{spy_percentage}}%
                                {% else %}
                                {{spy_percentage}}%
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        {{spy_name}}
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow" style="padding-bottom: 1px">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            {% if iwm_close > iwm_prev_close %} 
                            <i class="fas fa-arrow-up fa-4x"></i>
                            {% else %}
                            <i class="fas fa-arrow-down fa-4x"></i>
                            {% endif %}
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{iwm_close}}</div>
                            <div>
                                {% if iwm_percentage > 0 %} 
                                +{{iwm_percentage}}%
                                {% else %}
                                {{iwm_percentage}}%
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        {{iwm_name}}
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red" style="padding-bottom: 1px">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            {% if jpxn_close > jpxn_prev_close %} 
                            <i class="fas fa-arrow-up fa-4x"></i>
                            {% else %}
                            <i class="fas fa-arrow-down fa-4x"></i>
                            {% endif %}
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{jpxn_close}}</div>
                            <div>
                                {% if jpxn_percentage > 0 %} 
                                +{{jpxn_percentage}}%
                                {% else %}
                                {{jpxn_percentage}}%
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        {{jpxn_name}}
                    </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading" >
                    {% block candle %}
                            <i class="fas fa-chart-line"></i> CandleStick Chart Area
                            <div class="col-xs-2" style="width: 100%">
                                <form method="post" style="width: 100%" >
                                    {% csrf_token %}
                                    {{ ticker_date_form }}

                                    {% if request.session.tickerpost != None %}
                                    <button class="btn btn-primary" type="submit">Show</button>
                                    <a href="{% static 'csv/data.csv' %}" download="data{{request.session.tickerpost}}.csv" style="float:right">.csv <i class="fas fa-download"></i></a>

                                    {% else %}

                                    <button class="btn btn-primary" type="submit">Show</button>

                                    {% endif %}
                                </form>
                                {{error}}
                            </div>
                        </br>
                        <div class="container">
                        </div>
                    {% endblock candle %}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                   {% if request.session.plot == None %} 
                   <img src="https://via.placeholder.com/1920x1080?text=CandleStick Chart" style="max-width: 100%">
                   {% else %}
                   {{request.session.plot | safe}}
                   {% endif %}
                </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="far fa-newspaper"></i> News
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                        
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-8">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fas fa-dollar-sign"></i> U.S Dollar rates
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <p class="list-group-item">
                            <span style="font-weight: 600">AUD</span>
                            <span class="pull-right text-muted small"><em style="font-weight: 800">{{aud}}</em>
                            </span>
                        </p>
                        <p class="list-group-item">
                            <span style="font-weight: 600">EUR</span>
                            <span class="pull-right text-muted small"><em style="font-weight: 800">{{eur}}</em>
                            </span>
                        </p>
                        <p class="list-group-item">
                            <span style="font-weight: 600">GBP</span>
                            <span class="pull-right text-muted small"><em style="font-weight: 800">{{gbp}}</em>
                            </span>
                        </p>
                        <p class="list-group-item">
                            <span style="font-weight: 600">CHF</span>
                            <span class="pull-right text-muted small"><em style="font-weight: 800">{{chf}}</em>
                            </span>
                        </p>
                        <p class="list-group-item">
                            <span style="font-weight: 600">DKK</span>
                            <span class="pull-right text-muted small"><em style="font-weight: 800">{{dkk}}</em>
                            </span>
                        </p>
                        <p class="list-group-item">
                            <span style="font-weight: 600">NOK</span>
                            <span class="pull-right text-muted small"><em style="font-weight: 800">{{nok}}</em>
                            </span>
                        </p>
                        <p class="list-group-item">
                            <span style="font-weight: 600">SEK</span>
                            <span class="pull-right text-muted small"><em style="font-weight: 800">{{sek}}</em>
                            </span>
                        </p>
                        <p class="list-group-item">
                            <span style="font-weight: 600">RUB</span>
                            <span class="pull-right text-muted small"><em style="font-weight: 800">{{rub}}</em>
                            </span>
                        </p>
                        <p class="list-group-item">
                            <span style="font-weight: 600">PLN</span>
                            <span class="pull-right text-muted small"><em style="font-weight: 800">{{pln}}</em>
                            </span>
                        </p>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>

{% endblock body %}

{% block source %}
<link rel="stylesheet" href={{request.session.plotcss}} type="text/css">
<script type="text/javascript" src={{request.session.plotjs}}></script>
{{request.session.plotscript | safe}}
{% endblock %}